---
import { getLocale } from "../../i18n";
import Header from "../Header.astro";
const t = getLocale(Astro.url);
---

<section class="container content">
  <Header title={t.components.about.hero.title} />
  <h2 class="emfont-MaokenAssortedSansTC">
    {t.components.about.content.aboutSitcon}
  </h2>
  <p>{t.components.about.content.sitconIs}</p>
  <p>{t.components.about.content.sitconNotOnly}</p>
  <p>
    {t.components.about.content.sitconInterested[0]}
    <a href="#" class="link"
      >{t.components.about.content.sitconInterested[1]}</a
    >
    {t.components.about.content.sitconInterested[2]}
    <a href="#" class="link"
      >{t.components.about.content.sitconInterested[3]}</a
    >
    {t.components.about.content.sitconInterested[4]}
  </p>
  <style>
    h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    a {
      transition: opacity 0.2s ease;
    }

    a:hover {
      opacity: 0.8;
    }
  </style>
</section>
