---
import { Image } from "astro:assets";
import { getLocale } from "../../i18n";
import hourOfCodeImage from "../../assets/img/about/events/hour_of_code.webp";
import SITCON from "../../assets/img/about/events/年會.webp";
import SITCONCampImage from "../../assets/img/about/events/camp.webp";
import SITCONGroupImage from "../../assets/img/about/events/定期聚.webp";

const t = getLocale(Astro.url);
---

<section class="container past-events">
  <h2 class="section-title emfont-MaokenAssortedSansTC">
    {t.components.about.pastEvents.title}
  </h2>
  <div class="event">
    <div>
      <h3>{t.components.about.pastEvents.hoc.title}</h3>
      <p>
        {t.components.about.pastEvents.hoc.text}
      </p>
    </div>
    <Image
      src={hourOfCodeImage}
      alt="Hour of Code 活動照片 / Hour of Code event pictures"
      loading="lazy"
    />
  </div>
  <div class="event">
    <div>
      <h3 class="event-title">
        {t.components.about.pastEvents.sitcon.title}
      </h3>
      <p>
        {t.components.about.pastEvents.sitcon.text}
      </p>
    </div>
    <Image
      src={SITCON}
      alt="SITCON 年會活動照片 / SITCON Annual Conference pictures"
      loading="lazy"
    />
  </div>
  <div class="event">
    <div>
      <h3 class="event-title">
        {t.components.about.pastEvents.sitconCamp.title}
      </h3>
      <p>
        {t.components.about.pastEvents.sitconCamp.text}
      </p>
    </div>
    <Image
      src={SITCONCampImage}
      alt="SITCON 夏令營活動照片 / SITCON Camp pictures"
      loading="lazy"
    />
  </div>
  <div class="event">
    <div>
      <h3 class="event-title">
        {t.components.about.pastEvents.sitconGroup.title}
      </h3>
      <p>
        {t.components.about.pastEvents.sitconGroup.text}
      </p>
    </div>
    <Image
      src={SITCONGroupImage}
      alt="SITCON 定期聚活動照片 / SITCON Meetup pictures"
      loading="lazy"
    />
  </div>

  <style>
    section {
      padding-block: 0;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .container.past-events {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .event {
      display: flex;
      align-items: center;
      position: relative;
      gap: 2rem;
      background-color: #fff;
      color: #000;
      max-width: 980px;
      width: 100%;
      padding: 2rem;
      margin-bottom: 3.5rem;
    }

    .event::before {
      position: absolute;
      content: "";
      width: calc(100% + 5rem);
      height: calc(100% + 3rem);
      background-color: #fff200;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      clip-path: polygon(
        1rem 0,
        calc(100% - 1rem) 55px,
        calc(100% - 2rem) 100%,
        0 calc(100% - 55px)
      );
    }

    img {
      width: 300px;
      height: auto;
    }

    @media (max-width: 768px) {
      .event {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
        width: 85%;
        max-width: 500px;
        padding: 1.5rem;
      }

      .event::before {
        width: calc(100% + 4rem);
        height: calc(100% + 2rem);
      }

      img {
        width: 250px;
      }
    }
  </style>
</section>
