---
import hourOfCodeImage from "../../assets/img/about/events/hour_of_code.webp";
import { getLocale } from "../../i18n";

const t = getLocale(Astro.url);
---

<section class="container past-events">
  <h2 class="section-title">{t.components.about.pastEvents.title}</h2>
  <div class="events-container">
    <div class="event-card">
      <div class="event-content">
        <div class="event-description">
          <h3 class="event-title">{t.components.about.pastEvents.hoc.title}</h3>
          <p class="event-text">
            {t.components.about.pastEvents.hoc.text}
          </p>
        </div>
        <div class="event-image">
          <img
            src={hourOfCodeImage.src}
            alt="Hour of Code 活動照片 / Hour of Code event pictures"
          />
        </div>
      </div>
      <div class="background-container"></div>
      <div class="background-container-white"></div>
    </div>
    <div class="event-card">
        <div class="event-content">
          <div class="event-description">
            <h3 class="event-title">{t.components.about.pastEvents.sitcon.title}</h3>
            <p class="event-text">
              {t.components.about.pastEvents.sitcon.text}
            </p>
          </div>
          <div class="event-image">
            <img
              src={hourOfCodeImage.src}
              alt="SITCON 年會活動照片 / SITCON Annual Conference pictures"
            />
          </div>
        </div>
        <div class="background-container"></div>
        <div class="background-container-white"></div>
    </div>
    <div class="event-card">
        <div class="event-content">
          <div class="event-description">
            <h3 class="event-title">{t.components.about.pastEvents.sitconCamp.title}</h3>
            <p class="event-text">
              {t.components.about.pastEvents.sitconCamp.text}
            </p>
          </div>
          <div class="event-image">
            <img
              src={hourOfCodeImage.src}
              alt="SITCON 夏令營活動照片 / SITCON Camp pictures"
            />
          </div>
        </div>
        <div class="background-container"></div>
        <div class="background-container-white"></div>
    </div>
    <div class="event-card">
        <div class="event-content">
          <div class="event-description">
            <h3 class="event-title">{t.components.about.pastEvents.sitconGroup.title}</h3>
            <p class="event-text">
              {t.components.about.pastEvents.sitconGroup.text}
            </p>
          </div>
          <div class="event-image">
            <img
              src={hourOfCodeImage.src}
              alt="SITCON 定期聚活動照片 / SITCON Meetup pictures"
            />
          </div>
        </div>
        <div class="background-container"></div>
        <div class="background-container-white"></div>
    </div>
  </div>
</section>

<style>
  .past-events {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .section-title {
    color: #fff;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 2rem;
  }

  .events-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
  }

  .event-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1208px;
    height: 383px;
  }

  .event-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 55px;
  }

  .background-container {
    position: absolute;
    width: 1200px;
    height: 384px;
    background-color: #FFF200;
    clip-path: polygon(15.1309px 0.203735px, 1208.97px 55.33px, 1176.43px 383.91px, -17.41px 328.78px);
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .background-container-white {
    position: absolute;
    width: 1119px;
    height: 307px;
    background-color: white;
    clip-path: inset(0 0 0 0);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(-20px);
  }

  .event-description {
    flex: 2;
  }

  .event-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 1rem;
  }

  .event-text {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 1rem;
  }

  .event-image {
    flex: 1;
    width: 342px;
    height: 223px;
    object-fit: cover;
    flex-shrink: 0;
    margin-top: 20px;
  }

  .event-image img {
    width: 100%;
    border-radius: 0.5rem;
  }

  @media (max-width: 768px) {
    .section-title {
      font-size: 36px;
    }

    .events-container,
    .event-card {
      width: 100%;
      height: auto;
      min-height: 600px;
    }

    .event-content {
      flex-direction: column-reverse;
      padding: 0;
      justify-content: center;
      margin: 0 auto;
      width: 88%;
      max-width: 100%;
    }

    .event-description {
      flex: 1;
      width: 100%;
      padding: 15px;
    }

    .event-image {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      margin-top: 15px;
      padding: 0 15px;
    }

    .background-container {
      height: 100%;
      width: 100%;
      max-width: 100%;
      clip-path: polygon(1% 1%, 99% 3%, 98% 99%, 0% 97%);
    }

    .background-container-white {
      height: 90%;
      width: 90%;
      transform: none;
    }

    .event-title {
      font-size: 24px;
    }

    .event-text {
      font-size: 16px;
    }
  }
</style>
