---
import { getLocale } from "../i18n";
import Header from "../components/Header.astro";
const t = getLocale(Astro.url);
import Layout from "../layouts/index.astro";
---

<Layout
  title="行為準則 - SITCON 夏令營 2025"
  description="SITCON 夏令營 2025 行為準則。"
>
  <section class="container content">
    <Header title={t.components.coc.hero.title} />
    <div>
      <p>{t.components.coc.content.intro[0]}</p>
      <p>{t.components.coc.content.intro[1]}</p>
      <ul>
        {
          t.components.coc.content.guidelines.map((guideline) => (
            <li class="content-list-item">{guideline}</li>
          ))
        }
      </ul>
      <p>{t.components.coc.content.notTolerated.intro}</p>
      <ul>
        {
          t.components.coc.content.notTolerated.list.map((item) => (
            <li class="content-list-item">{item}</li>
          ))
        }
      </ul>
      <p>{t.components.coc.content.enforcement}</p>
      <p>{t.components.coc.content.conclusion}</p>
    </div>

    <style>
      p {
        margin-bottom: 1rem;
      }

      ul {
        padding-left: 2rem;
        line-height: 2;
        margin-bottom: 1rem;
      }
    </style>
  </section>
</Layout>
