---
import { getLocale } from "../../i18n";

const t = getLocale(Astro.url);
---

<section class="container">
  <div class="course-container">
    <h3>{t.components.home.course.main.title}</h3>
    <p>
      {t.components.home.course.main.text[0]}
    </p>
    <p>
      {t.components.home.course.main.text[1]}
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>Hackathon</h3>
    <p>
      {t.components.home.course.hackathon.text}
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>{t.components.home.course.broad.title}</h3>
    <p>{t.components.home.course.broad.text}</p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>{t.components.home.course.cafe.title}</h3>
    <p>
      {t.components.home.course.cafe.text}
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>{t.components.home.course.openSource.title}</h3>
    <p>
      {t.components.home.course.openSource.text}
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>{t.components.home.course.challenge.title}</h3>
    <p>
      {t.components.home.course.challenge.text[0]}
    </p>
    <p>
      {t.components.home.course.challenge.text[1]}
    </p>
    <img src="" alt="" />
  </div>
</section>
