---
import { getLocale } from "../../i18n";
import { Image } from "astro:assets";

// 引入圖片
import mainCourse from "../../assets/img/about/events/主線課程.webp";
import hackathon from "../../assets/img/about/events/Hackathon.webp";
import broadCourse from "../../assets/img/about/events/廣度課程.webp";
import worldCafe from "../../assets/img/about/events/視界咖啡館.webp";
import openSource from "../../assets/img/about/events/開源精神與社群.webp";
import challenge from "../../assets/img/about/events/資訊技能樹.webp";

const t = getLocale(Astro.url);
---

<section class="container">
  <div class="course-container">
    <div class="content">
      <h3>{t.components.home.course.main.title}</h3>
      <p>
        {t.components.home.course.main.text[0]}
      </p>
      <p>
        {t.components.home.course.main.text[1]}
      </p>
    </div>

    <Image
      src={mainCourse}
      alt="主線課程"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>

  <div class="course-container">
    <div class="content">
      <h3>Hackathon</h3>
      <p>
        {t.components.home.course.hackathon.text}
      </p>
    </div>

    <Image
      src={hackathon}
      alt="Hackathon"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>

  <div class="course-container">
    <div class="content">
      <h3>{t.components.home.course.broad.title}</h3>
      <p>{t.components.home.course.broad.text}</p>
    </div>

    <Image
      src={broadCourse}
      alt="廣度課程"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>

  <div class="course-container">
    <div class="content">
      <h3>{t.components.home.course.cafe.title}</h3>
      <p>
        {t.components.home.course.cafe.text}
      </p>
    </div>

    <Image
      src={worldCafe}
      alt="視界咖啡館"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>

  <div class="course-container">
    <div class="content">
      <h3>{t.components.home.course.openSource.title}</h3>
      <p>
        {t.components.home.course.openSource.text}
      </p>
    </div>

    <Image
      src={openSource}
      alt="開源精神與社群"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>

  <div class="course-container">
    <div class="content">
      <h3>{t.components.home.course.challenge.title}</h3>
      <p>
        {t.components.home.course.challenge.text[0]}
      </p>
      <p>
        {t.components.home.course.challenge.text[1]}
      </p>
    </div>

    <Image
      src={challenge}
      alt="資訊技能樹"
      width="400"
      height="300"
      loading="lazy"
    />
  </div>
</section>

<style>
  .container {
    margin-bottom: 8rem;
  }
  .course-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: #000;
    position: relative;
    margin-bottom: 1rem;
    z-index: 3;
  }
  .course-container > * {
    z-index: 3;
  }
  .course-container::before,
  .course-container::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    --extra-height: 3;
    height: calc(100% + var(--extra-height) * 1rem);
    /* --box-width: calc(min(100vw, 1200px) - 4rem); */
  }
  .course-container::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .course-container::after {
    left: 0;
  }
  .course-container:first-child {
    background-color: #6c6c6c;
    color: white;
  }

  .course-container:first-child:after {
    background-color: #6c6c6c;
    top: 0;
    --extra-height: 3;
  }

  .course-container:nth-child(2)::before {
    background-color: #dfff60;
    width: 107.5%;
    --extra-height: 11;
    clip-path: polygon(
      0% 43.7%,
      3.5% 0%,
      3.5% 26.6%,
      34.5% 15.3%,
      97.5% 26.6%,
      100% 59.7%,
      97.5% 100%,
      52.6% 73.4%,
      4.7% 81.1%,
      0% 43.7%
    );
  }

  .course-container:nth-child(3) {
    z-index: 1;
  }

  .course-container:nth-child(3)::after {
    background-color: #fff;
    bottom: -2;
    --extra-height: 7;
  }
  .course-container:nth-child(4) {
    z-index: 4;
  }

  .course-container:nth-child(4)::before,
  .course-container:nth-child(4)::after {
    width: 108%;
    --extra-height: 3;
    background-color: #f8a349;
    clip-path: polygon(
      5.9% 100%,
      /* 76 360 */ 0% 8.5%,
      /* 0 30.5 */ 98% 0.1%,
      /* 1256.5 0.5 */ 100% 100% /* 1282 360 */
    );
    z-index: 3;
  }

  .course-container:nth-child(4)::after {
    background-color: #a45e14;
    transform: translate(-50%, -50%);
    top: calc(50% - 5px);
    left: calc(50% + 5px);
    z-index: 2;
  }

  .course-container:nth-child(5) {
    color: #fff;
  }
  .course-container:nth-child(5)::after {
    background-color: #525252;
    bottom: -2rem;
    height: 170%;
    z-index: 1;
  }
  .course-container:nth-child(6) {
    color: #fff;
  }
  .course-container:nth-child(6) > * {
    z-index: 4;
  }

  .course-container:nth-child(6)::before,
  .course-container:nth-child(6)::after {
    --extra-height: 16;
    width: 104%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2659ce;
    clip-path: polygon(
      0% 95.9%,
      /* 0 460.5 */ 1.8% 0%,
      /* 22.009 0 */ 2.45% 23.6%,
      /* 30.0123 113.5 */ 52.2% 27%,
      /* 638.761 129.5 */ 100% 20.7%,
      /* 1224 99.5 */ 100% 100%,
      /* 1224 480 */ 52.2% 89.4%,
      /* 638.761 429 */ 0% 95.9% /* 0 460.5 */
    );
  }

  .course-container:nth-child(6)::before {
    background-color: #2fbcd8;
    z-index: 2;
    top: calc(50% - 7px);
  }

  .course-container:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .content {
    flex: 1;
  }

  img {
    display: block;
    object-fit: cover;
    width: 300px;
    height: auto;
    background-color: #fff;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 900px) {
    .course-container {
      flex-direction: column;
      align-items: center;
    }

    .course-container:nth-child(odd) {
      flex-direction: column;
    }

    .course-container:nth-child(2) {
      background-color: #dfff60;
      margin-bottom: 0;
    }
    .course-container:nth-child(3) {
      background-color: #fff;
    }

    .course-container:nth-child(6) {
      background-color: #2659ce;
    }
    .course-container:nth-child(6)::before,
    .course-container:nth-child(6)::after {
      width: 100%;
    }
    .course-container:nth-child(6)::before {
      top: 53%;
    }
  }
</style>
