---
import { Image } from "astro:assets";
import image from "../../assets/img/feedback-avatar.png";
import { getLocale } from "../../i18n";

const t = getLocale(Astro.url);
---

<section class="container">
  <div class="feedback-wrapper">
    <div class="feedback">
      <Image
        src={image}
        alt="學員照片"
        class="image"
        width="70"
        loading="lazy"
      />
      <div class="feedback-content">
        <h3>
          {t.components.home.feedback.title}<span
            class="emfont-NotoSansTC-700"
            >{t.components.home.feedback.feedbacks[0].name}</span
          >
        </h3>
        <p class="emfont-LXGWWenKaiTC">
          {t.components.home.feedback.feedbacks[0].text}
        </p>
      </div>
    </div>
    <div class="feedback">
      <Image
        src={image}
        alt="學員照片"
        class="image"
        width="70"
        loading="lazy"
      />
      <div class="feedback-content">
        <h3>
          {t.components.home.feedback.title}<span
            class="emfont-NotoSansTC-700"
            >{t.components.home.feedback.feedbacks[1].name}</span
          >
        </h3>
        <p class="emfont-LXGWWenKaiTC">
          {t.components.home.feedback.feedbacks[1].text}
        </p>
      </div>
    </div>
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      padding-block: 1rem 6rem;
    }

    .feedback-wrapper {
      margin: 0 auto;
      max-width: 1120px;
      box-shadow: var(--shadow);
    }

    .feedback {
      padding: 40px 50px;
      background-color: #f9f9f9;
      display: flex;
      gap: 30px;
    }

    .feedback:nth-child(2) {
      background-color: #e2e2e2;
    }

    .feedback-content {
      display: flex;
      flex-direction: column;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 0.5rem;
      color: #333;
      font-weight: 700;
    }

    h3 span {
      font-size: 20px;
      line-height: 24px;
      margin-left: 40px;
    }

    p {
      font-size: 20px;
      color: #3b3b3b;
      line-height: 1.8;
    }

    @media (max-width: 50rem) {
      .feedback {
        flex-direction: column;
        padding: 30px 20px;
        align-items: center;
        text-align: center;
        gap: 5px;
      }

      .feedback-content {
        align-items: center;
        gap: 10px;
      }

      h3 {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h3 span {
        margin-left: 0;
        margin-top: 5px;
      }

      .container {
        padding: 0 1rem 1rem;
      }

      .image {
        margin-bottom: 10px;
      }
    }
  </style>
</section>
