---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getLocale } from "../../i18n";
import heroBackground from "../../assets/img/hero/hero-background.svg";
import notFoundBackground from "../../assets/img/hero/404.svg";
import boom from "../../assets/img/hero/boom.svg";
import clip from "../../assets/img/hero/clip.svg";
import cat from "../../assets/img/hero/cat-todo.svg";
import cloud from "../../assets/img/hero/cloud.svg";
import light from "../../assets/img/hero/light.svg";
import lightning from "../../assets/img/hero/lightning.svg";
import lightning2 from "../../assets/img/hero/lightning2.svg";
import lightning3 from "../../assets/img/hero/lightning3.svg";
import lightning4 from "../../assets/img/hero/lightning4.svg";
import logo from "../../assets/img/hero/logo.webp";
import wave from "../../assets/img/hero/wave-todo.svg";

const t = getLocale(Astro.url);
---

<header>
  <div class="hero">
    <Image class="notFound" src={notFoundBackground} alt="" />
    <Image class="boom" src={boom} alt="" />
    <Image class="light" src={light} alt="" />
    <div class="clip"></div>
    <Image class="wave" src={wave} alt="" />
    <Image class="cloud" src={cloud} alt="" />
    <Image class="logo logo2" src={logo} alt="" />
    <Image class="logo" src={logo} alt="" />
    <Image class="lightning" src={lightning} alt="" />
    <Image class="lightning2" src={lightning2} alt="" />
    <Image class="lightning3" src={lightning3} alt="" />
    <Image class="lightning4" src={lightning4} alt="" />
    <Image class="cat" src={cat} alt="" />
  </div>
  <div class="info emfont-MaokenAssortedSansTC">
    <div>
      <Icon
        name="material-symbols:calendar-today-rounded"
        size={24}
      />
      <div>7/9-7/13</div>
    </div>
    <div>
      <Icon name="material-symbols:location-on-rounded" size={24} />
      <div>{t.components.home.hero.schoolName}</div>
    </div>
  </div>
  <div class="paint">
    <Image src={heroBackground} alt="" />
  </div>
</header>

<style
  define:vars={{
    boomUrl: `url(${clip.src}#clip)`,
  }}
>
  header {
    padding-top: 5.5rem;
    min-height: 100vh;
    position: relative;
  }

  .hero img {
    animation: zoom 1s ease-in-out forwards;
    transform-origin: left;
    scale: 0;
  }

  .paint {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .paint img {
    height: 100vh;
    filter: blur(20vw);
    margin: auto;
    display: block;
  }

  .info {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;
  }

  .info > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .info img {
    width: 1.5rem;
  }
  .hero {
    width: fit-content;
    margin: auto;
    position: relative;
  }
  .hero img,
  .clip {
    position: absolute;
    display: block;
    width: calc(var(--size) * 95vw);
    height: auto;
  }
  @media (min-aspect-ratio: 4/3) {
    .hero img,
    .clip {
      height: calc(var(--size) * (90vh - 9rem));
      width: auto;
    }
    .hero .logo {
      height: auto;
      width: calc(var(--size) * 95vw);
    }
    .logo {
      --size: 0.45;
    }
  }

  @media (max-aspect-ratio: 5/6) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 20vh;
    }
  }

  .hero .notFound {
    position: static;
    --size: 1;
    scale: 1;
    margin: auto;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .boom,.cat,.wave
  /* .clip  */ {
    top: 50%;
    left: 50%;
    --size: 0.9;
    transform: translate(-50%, -50%);
    aspect-ratio: 930 / 636;
  }
  /* .clip {
    position: absolute;
    clip-path: var(--boomUrl);
    aspect-ratio: 1 / 1;
    background-color: red;
  } */

  /* .wave {
    top: 68%;
    left: 50%;
    --size: 0.45;
    transform: translate(-30%, -50%);
  } */
  .hero .cloud {
    top: 47%;
    left: 42%;
    --size: 0.2;
    animation-delay: 0.5s;
  }
  .hero .logo {
    --size: 0.9;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero .logo2 {
    scale: 0.99;
    filter: brightness(0) invert(1);
    animation: smallZoom 1s ease-in-out forwards;
  }

  @keyframes smallZoom {
    0% {
      scale: 0;
    }
    50% {
      scale: 1.2;
    }
    100% {
      scale: 0.99;
    }
  }
  .hero .lightning,
  .hero .lightning2,
  .hero .lightning3,
  .hero .lightning4 {
    animation-delay: 1.2s;
    scale: 1;
    animation:
      /* zoom 1s ease-in-out forwards; */
      infinitiZoom 1s ease-in-out infinite alternate;
    /* animation-composition: accumulate; */
  }

  @keyframes infinitiZoom {
    0% {
      scale: 1.1;
    }
    100% {
      scale: 0.8;
    }
  }
  .hero .lightning {
    top: 55%;
    left: 34%;
    --size: 0.1;
    transform: translate(-100%, -100%);
    transform-origin: bottom right;
  }
  .hero .lightning2 {
    top: 55%;
    left: 44%;
    --size: 0.1;
    transform: translate(-100%, -100%);
    transform-origin: bottom right;
  }
  .hero .lightning3 {
    top: 52%;
    left: 54%;
    --size: 0.05;
    transform: translate(0, -100%);
    transform-origin: bottom left;
  }
  .hero .lightning4 {
    top: 54%;
    left: 64%;
    --size: 0.07;
    transform: translate(0, -100%);
    transform-origin: bottom left;
  }

  .hero .light {
    top: 60%;
    left: 50%;
    --size: 0.37;
    transform: translate(-48%, -100%);
    animation-delay: 0.5s;
  }

  @keyframes zoom {
    0% {
      scale: 0;
    }
    50% {
      scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
