---
import { getLocale, linkTransformer } from "../../i18n";
import { Icon } from "astro-icon/components";
const t = getLocale(Astro.url),
  l = linkTransformer(Astro.url);
import { Image } from "astro:assets";
import cat from "../../assets/img/cat-cutted.webp";
---

<section>
  <div class="container emfont-MaokenAssortedSansTC">
    <h2 class="emfont-UnboundedSans" id="info">
      {t.components.home.info.title}
    </h2>
    <div class="info-container">
      <div class="info">
        <h3 class="emfont-NotoSansTC-700">
          {t.components.home.info.event.title}
        </h3>
        <div class="content">
          {t.components.home.info.event.text[0]}<span
            >{t.components.home.info.event.text[1]}</span
          >
        </div>
        <div class="image">
          <Icon
            name="material-symbols:calendar-today-rounded"
            size={40}
          />
        </div>
      </div>
      <div class="info">
        <h3 class="emfont-NotoSansTC-700">
          {t.components.home.info.signup.title}
        </h3>
        <div class="content">
          {t.components.home.info.signup.text[0]}<span
            >{t.components.home.info.signup.text[1]}</span
          >
        </div>
        <div class="image">
          <Icon name="material-symbols:schedule" size={50} />
        </div>
      </div>
      <div class="info">
        <h3 class="emfont-NotoSansTC-700">
          {t.components.home.info.place.title}
        </h3>
        <div class="content">
          {t.components.home.info.place.text}
        </div>
        <div class="image">
          <Icon name="material-symbols:navigation" size={50} />
        </div>
      </div>
    </div>
    <div class="info-container2">
      <div class="price-box">
        <div class="price-container">
          <div class="people">
            {t.components.home.info.price.early.title}
          </div>
          <div class="friends">
            <Icon name="material-symbols:accessibility" size={40} />
          </div>
          <div class="price">
            {t.components.home.info.price.early.price}
          </div>
        </div>
        <div class="price-container">
          <div class="people">
            {t.components.home.info.price.personal.title}
          </div>
          <div class="friends">
            <Icon name="material-symbols:man-2" size={40} />
          </div>
          <div class="price">
            {t.components.home.info.price.personal.price}
          </div>
        </div>
        <div class="price-container">
          <div class="people">
            {t.components.home.info.price.dual.title}
          </div>
          <div class="friends">
            <Icon
              name="material-symbols:sports-martial-arts"
              size={40}
            />
            <Icon name="material-symbols:man-2" size={40} />
          </div>
          <div class="price">
            {t.components.home.info.price.dual.price}
          </div>
        </div>
        <div class="price-container">
          <div class="people">
            {t.components.home.info.price.tri.title}
          </div>
          <div class="friends">
            <Icon
              name="material-symbols:sports-martial-arts"
              size={40}
            />
            <Icon name="material-symbols:man-2" size={40} />
            <Icon name="material-symbols:hail" size={40} />
          </div>
          <div class="price">
            {t.components.home.info.price.tri.price}
          </div>
        </div>
        <div class="price-container">
          <div class="people">
            {t.components.home.info.price.quad.title}
          </div>
          <div class="friends">
            <Icon
              name="material-symbols:sports-martial-arts"
              size={40}
            />
            <Icon name="material-symbols:hail" size={40} />
            <Icon name="material-symbols:man-2" size={40} />
            <Icon name="material-symbols:directions-walk" size={40} />
          </div>
          <div class="price">
            {t.components.home.info.price.quad.price}
          </div>
        </div>
      </div>
      <div class="signUp">
        <Image src={cat} alt="" />
        <a href="https://sitcon.kktix.cc/events/sitcon-camp2025"
          >{t.components.home.info.price.signupNow}</a
        >
      </div>
    </div>
    <div class="calendar">
      <div>{t.components.home.info.calendar.title}</div>
      <a href={l("/sitconcamp2025.ics")} download>
        <Icon name="material-symbols:calendar-add-on" size={32} />
        {t.components.home.info.calendar.text}</a
      >
    </div>
    <div class="reminder">
      <h3>{t.components.home.info.reminder.title}</h3>
      <ol class="emfont-NotoSansTC">
        <li>{t.components.home.info.reminder.overFive}</li>
        <li>{t.components.home.info.reminder.beforeOneNight}</li>
        <li>
          {t.components.home.info.reminder.earlyBird}
        </li>
        <li>
          {t.components.home.info.reminder.groupDisclaimer[0]}<a
            href="https://drive.google.com/file/d/1nxt-lYWAMnsK-QbwbbeIV7lTi9hcimTw/view"
            >{t.components.home.info.reminder.groupDisclaimer[1]}</a
          >。
        </li>
        <li>
          {t.components.home.info.reminder.targetCount}
        </li>
        <li>
          {t.components.home.info.reminder.selected}
        </li>
        <li>
          {t.components.home.info.reminder.payBeforeEnter[0]}<a
            href="https://drive.google.com/file/d/1g6OSBT0yZIpOjKk5tkzgFOv-mcpBrPLd/view"
            >{t.components.home.info.reminder.payBeforeEnter[1]}</a
          >。
        </li>
        <li>
          {t.components.home.info.reminder.refund[0]}<a
            href="https://drive.google.com/file/d/1A193ekw7DtCgfMmxsICeT4gO2pWYGd4q/view"
            >{t.components.home.info.reminder.refund[1]}</a
          >。
        </li>
      </ol>
    </div>
  </div>
</section>

<style>
  h2 {
    margin-bottom: 2rem;
  }
  section {
    background-color: #374de5;
  }
  span {
    font-size: 0.6em;
    display: block;
    margin-top: 0.5rem;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    color: #000;
    margin-bottom: 5rem;
  }

  .info {
    background-color: #fef43b;
    flex: 1;
    padding: 2rem 2rem 4rem;
    border-radius: 0 2rem 0 0;
    position: relative;
  }

  .info h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .info .content {
    font-size: 2.375rem;
  }

  .image {
    position: absolute;
    bottom: -6rem;
    right: -5rem;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-box {
    background-color: #fff;
    color: #736d6d;
  }
  .info-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .price-box {
    padding: 0 3rem;
  }

  .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    font-size: 1.7rem;
    border-bottom: 1px solid #736d6d;
  }

  .price-container:last-child {
    border-bottom: none;
  }
  .people {
    color: #43a7ff;
  }
  .friends {
    flex: 1;
    text-align: center;
  }
  .calendar {
    margin: 2.5rem 0;
    color: #fff;
    font-size: 1.5rem;
    background-color: #4115b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
  }

  .calendar a {
    color: #fff;
    background-color: #7e0cff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }

  .calendar a:hover {
    background-color: #8922ff;
  }

  .reminder {
    line-height: 2;
  }
  .reminder h3 {
    font-size: 2.6875rem;
    margin-bottom: 1rem;
  }
  .signUp img {
    display: block;
    width: 15rem;
    height: auto;
    transform: translateY(3rem);
    z-index: 1;
    position: relative;
  }
  .signUp a {
    border-radius: 0.9375rem;
    border: 8px solid #43a7ff;
    background: #fff;
    padding: 1rem 4rem;
    color: #43a7ff;
    z-index: 2;
    position: relative;
    display: block;
    font-size: 2rem;
    text-decoration: none;
  }

  .signUp a:hover {
    background: #ecfbff;
  }

  ol {
    padding-left: 2rem;
  }

  ol a {
    transition: opacity 0.2s ease;
  }

  ol a:hover {
    opacity: 0.8;
  }

  @media (max-width: 900px) {
    .info-container {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }
    .info-container2 {
      flex-direction: column;
      align-items: center;
    }
    .info {
      padding: 2rem;
    }
    .info .content {
      font-size: 2rem;
    }
    .image {
      width: 4rem;
      height: 4rem;
      bottom: -3rem;
      right: -3rem;
    }
    .image svg {
      width: 2rem;
      height: 2rem;
    }

    .price-box {
      padding: 0 2rem;
    }

    .price-container {
      padding: 1rem 0;
    }
    .price-container svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    .info-container2 {
      gap: 0;
    }

    .signUp img {
      width: 10rem;
    }

    .signUp a {
      padding: 0.5rem 2rem;

      font-size: 1.75rem;
    }

    .calendar {
      font-size: 1.25rem;
    }
  }
</style>
