---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import ogImage from "../assets/img/og.webp";
import { ClientRouter } from "astro:transitions";
import icon from "../assets/img/icon.png";

interface Props {
  title: string;
  description: string;
}

const customTransition = {
  forwards: {
    old: {
      name: "transitionFadeOut",
      duration: "0.2s",
      easing: "ease-in",
    },
    new: {
      name: "transitionFadeIn",
      duration: "0.2s",
      easing: "ease-in",
    },
  },
  backwards: {
    old: {
      name: "transitionFadeOut",
      duration: "0.2s",
      easing: "ease-in",
    },
    new: {
      name: "transitionFadeIn",
      duration: "0.2s",
      easing: "ease-in",
    },
  },
};

// Generate absolute URLs for icons
const iconUrl = new URL(icon.src, Astro.url.origin).href;
---

<html lang="zh-Hant" transition:animate="none">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="theme-color" content="#0048da" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="#0048da"
    />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage.src} />
    <meta
      property="og:description"
      content={Astro.props.description}
    />
    <meta property="og:site_name" content="SITCON Camp" />

    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="twitter:image" content={ogImage.src} />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="msapplication-TileColor" content="#0048da" />
    <link rel="preload" as="image" href={iconUrl} />
    <link
      rel="shortcut icon"
      href="/2025/favicon.png"
      type="image/png"
    />
    <link rel="icon" type="image/png" href="/2025/favicon.png" />
    <link rel="apple-touch-icon" href={iconUrl} />
    <link rel="apple-touch-icon-precomposed" href={iconUrl} />
    <link rel="apple-touch-icon" sizes="152x152" href={iconUrl} />
    <link rel="apple-touch-icon" sizes="180x180" href={iconUrl} />
    <link rel="apple-touch-icon" sizes="167x167" href={iconUrl} />
    <link rel="mask-icon" href={iconUrl} color="#0048da" />
    <meta name="apple-mobile-web-app-title" content="SITCON Camp" />
    <link
      rel="preconnect"
      href="https://www.googletagmanager.com"
      crossorigin
    />
    <style
      is:global
      define:vars={{
        foregroundColor: "#FFF",
        backgroundColor: "#009BEF",
        maxWidth: "1200px",
        shadow: "0px 4px 39.3px 10px rgba(24, 70, 237, 0.52)",
      }}
    >
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        background-color: var(--backgroundColor);
        color: var(--foregroundColor);
        font-size: 1.25rem;
        overflow-x: hidden;
        font-family: system-ui;
      }

      a {
        color: inherit;
      }

      h1,
      h2,
      h3 {
        font-weight: 400;
      }

      h2 {
        font-size: clamp(2rem, 4rem, 9vw);
        scroll-margin-top: 7rem;
      }

      p {
        line-height: 130%;
      }

      img {
        max-width: 100%;
      }

      .container {
        max-width: var(--maxWidth);
        padding: 4rem 2rem;
        margin: auto;
      }

      #backgroundPainter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
      }

      @keyframes transitionFadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes transitionFadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      .body-container {
        position: relative;
        z-index: 2;
      }

      #q5Canvas0 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
      }
    </style>
    <ClientRouter />
  </head>
  <body
    class="emfont-NotoSansTC"
    transition:animate={customTransition}
  >
    <Nav transition:persist={true} />
    <div class="body-container">
      <slot />
      <Footer transition:persist={true} />
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/lava.js"></script>
    <script>
      window.addEventListener("load", function () {
        // Google Tag Manager

        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
            "gtm.start": new Date().getTime(),
            event: "gtm.js",
          });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s) as HTMLScriptElement,
            dl = l != "dataLayer" ? "&l=" + l : "";
          j.async = true;
          j.src =
            "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
          f?.parentNode?.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NKHHNVV");

        // Add noscript iframe dynamically

        var noscript = document.createElement("noscript");
        var iframe = document.createElement("iframe");
        iframe.src =
          "https://www.googletagmanager.com/ns.html?id=GTM-NKHHNVV";
        iframe.height = "0";
        iframe.width = "0";
        iframe.style.display = "none";
        iframe.style.visibility = "hidden";
        noscript.appendChild(iframe);
        document.body.appendChild(noscript);
      });
    </script>
  </body>
</html>
