---
import { getLocale } from "../../i18n";

const t = getLocale(Astro.url);
---

<section class="container content">
  <div class="content-section">
    <p class="content-paragraph">
      {t.components.coc.content.intro[0]}
    </p>
    <p class="content-paragraph">
      {t.components.coc.content.intro[1]}
    </p>
    <ul class="content-list">
      {t.components.coc.content.guidelines.map((guideline) => (
        <li class="content-list-item">{guideline}</li>
      ))}
    </ul>
    <p class="content-paragraph">
      {t.components.coc.content.notTolerated.intro}
    </p>
    <ul class="content-list">
      {t.components.coc.content.notTolerated.list.map((item) => (
        <li class="content-list-item">{item}</li>
      ))}
    </ul>
    <p class="content-paragraph">
      {t.components.coc.content.enforcement}
    </p>
    <p class="content-paragraph">
      {t.components.coc.content.conclusion}
    </p>
  </div>
</section>

<style>
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .section-title {
    color: #fff;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    width: 314px;
    margin-bottom: 1.5rem;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .content-paragraph {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .content-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 25px;
    width: 95%;
  }

  .content-list-item {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0.75rem;
    padding-left: 40px;
    position: relative;
  }

  .content-list-item::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 12px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
  }

  .link {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .link:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .section-title {
      font-size: 36px;
      width: auto;
    }

    .content-paragraph,
    .content-list-item,
    .link {
      font-size: 18px;
    }
    
    .content-list-item {
      padding-left: 25px;
    }
    
    .content-list-item::before {
      width: 8px;
      height: 8px;
      top: 8px;
    }
  }
</style>
